.sacrafice-container {
  width: 100vw;
  height: 20vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
  padding-bottom: 50px;
}

.about-text {
  padding-left: 80px;
  padding-right: 80px;
  justify-content: center;
}
.step h1 {
  font-size: 18px;
  padding: 15px;
}
.about-text p {
  color: white;
}
.sacrafice-steps {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}
.step {
  width: 100%;
}
.step button {
  width: 200px;
  height: 30px;
  border-radius: 0px;
  margin: 15px;
  border: none;
  background-color: rgb(223, 223, 223);
  color: black;
  cursor: pointer;
  justify-content: center;
}
.step button:hover {
  background-color: white;
}
.rugs {
}
@media only screen and (max-width: 600px) {
  .about-text {
    padding-left: 40px;
    padding-right: 40px;
  }
}
