.App {
  text-align: center;
}
body {
  padding: 0px;
  margin: 0px;
  background-color: rgb(0, 0, 0);
}
h1,h2, p {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.NA {
  height: 80vh;
}
.NA h1 {
  padding-top: 30vh;
  text-align: center;
  font-size: 24px;
}

button {
  width: auto;
  height: 30px;
  border-radius: 0px;
  font-size: medium;
  margin: 15px;
  border: none;
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  justify-content: center;
}

button:hover {
  background-color: white;
}